body{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       font-family: 'Roboto', sans-serif; 
      
}

.container{
    height: 808px;
    width: 477px;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color:  #E0F7FA ;
   flex-direction: column;
   margin-top:50px ;
   border: 3px solid #00796B;
   border-radius: 1rem;

}
.button{
    width: 85px;
    height: 90px;
    padding: 20px;
    margin: 0 3px;
    background-color: #B2EBF2;
    border: 1px solid #00796B;
    color: #02342e;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
    

.button:hover{
    background-color: #00796B;
    color: #FFFFFF;
}
.c {
    width: 186px;
    transform: translateX(2px)
}
.row{
    margin: 8px;
}
.row input{
        width: 302px;
        height: 67px;
        border: 5px solid; 
        width: 362px;
        height: 92px;
}
.d {
    width: 86px;
}

.input{
   font-size: 1.5rem;
}
h1{
    display: inline;
    margin-left: 18rem;
}

.history {
    color: black;
    background-color:#F4EBBE;
    font-size: 1.5rem;
    margin-left: 10rem;
    height: 28rem;
    width: 25rem;
    text-align: center;
    padding: 20px;      
    line-height: 1.9;
    border-radius: 1rem;
      
   
}